.detail-wrapper{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.05);
    padding: 20px;
}
.detail-image{
    width: 200px;
    margin-bottom: 20px;
}

.detail-info{
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0;
    color: #333;
}

.detail-price{
    font-size: 20px;
    font-weight: bold;
    color: #750404;
}

.detail-description{
    font-size: 20px;
    font-weight: bold;
    color: #666;
    text-align: left;
}